@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    width: 100%;
    background-color: rgba(73, 163, 0, 0.37);
}

.intro {
    text-align: center;
    color: green;
    font-weight: 700;
    font-size: 64px;
}

.intro span {
    color: #61481C;
}

main {
    padding: 32px 16px;
}

.container {
    background-color: #fbfbfb;
    max-width: 660px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 32px 48px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding-bottom: 53px;

}

.title {
    font-size: 32px;
}

.sun {
    vertical-align: middle;
    margin: 0 10px;
    animation: spin 2s linear infinite;
    
}
.group-3{
    position: relative;
    right: 48px;
    bottom: 2px;
}
.completed  .custom-checkbox{
    background-color: #48a300;
    border-color:#48a300 ;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

.heading {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: grey;
    margin-bottom: 18px;
}

.progress_bar {
    margin-bottom: 50px;
    height: 30px;
    background-color: rgba(0, 128, 0, 0.555);
    border-radius: 15px;
}
.progress_bar .showError{
    display: block;
}

.progress-value {
    background-color: green;
    height: 100%;
    width: 0%;
    border-radius: 15px;
    font-weight: 500;
    font-size: 10px;
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
}
.progress-value span{
    padding-left: 20px;
    min-width: max-content;
}

.error-label {
    color: red;
    margin-top: 12px;
    font-size: 14px;
    margin-block: 0px;
    position: absolute;
    
}

.goal-cont {
    border-radius: 17px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 82px;
    display: flex;
    align-items: center;
    margin-bottom: 42px;
    padding: 0 22px;
    background-color: white;


}

.custom-checkbox {
    height: 24px;
    width: 24px;
    border: 1px solid black;
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    

}


.goal-input {
    flex-grow: 1;
    border: none;
    padding-left: 22px;
    font-size: 16px;
    outline: none;
    align-self: stretch;
    font-family: inherit;
    font-weight: 500;
}
.completed .goal-input{
    color: green;
    text-decoration: line-through;
}

input::placeholder {
    color: #d9d9d9;
}

.slogan {
    text-align: center;
    font-size: 16px;
    font-weight: 700;

}

.copyright {
    margin-top: 40px;
    text-align: center;
    color: #858585;
}

@media (max-width:768px) {
    .intro {
        font-size: 32px;
    }

    .container {
        padding: 16px 32px;
    }

    .goal-cont {
        height: 64px;
        margin-bottom: 24px;
        border-radius: 12px;
    }

    .copyright {
        margin-top: 13px;
    }

    .goal-input {
        overflow: hidden;
    }

    .custom-checkbox {
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }

    .progress_bar {
        height: 20px;
    }
}
.error-label{
    display: none;
    margin-top: 8px;
}